<div>

</div>
<%= form_for stock do |f|%>

    <%= f.label :action_date %>
    <%= f.date_field :action_date %><br>

    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :ticker %>
    <%= f.text_field :ticker %><br>

    <%= f.label :price %>
    <%= f.text_field :price %><br>

    <%= f.label :cost %>
    <%= f.text_field :cost %><br>

    <%= f.label :shares %>
    <%= f.text_field :shares %><br>

        
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
        <label>
            <%= b.check_box %>
            <span><%= b.label %></span><br>
        </label>
    <% end %>
    
    <%= f.fields_for :categories, stock.categories.build do |categories_fields| %>
        <%= categories_fields.text_field :name %>
        <%= categories_fields.label "New Category" %>
    <% end %><br><br>

    <p><%= f.submit button_name, class:"waves-effect waves-light btn blue darken-2 white-text hoverable center" %></p>
<% end %>