<h1 class="center-align">Stocks</h1>

<%= form_tag(stocks_path, method: 'get') do %>
  <%= text_field_tag :term, nil,  id: "Search", placeholder: "Search Companies" %>
  <%= submit_tag "Search", class:"waves-effect waves-light btn white black-text hoverable"%>
<% end %>

<div class="input-field col s12">
  <%#= form_tag(stocks_path, method: 'get') do %>
      <%#= label_tag :category_id, "Select Category" %>
      <%#= collection_select :stock, :category_id, Category.all, :id, :name %>
      <%#= submit_tag "Filter" %>
  <%# end %>
</div>



<table class="highlight">
  <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Price</th>
      <th>Cost</th>
      <th>Shares</th>
      <th>Market Value</th>
      <th>Return</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr class="<%= color(stock_return(stock)) %>">
          <td class="black-text"><%= stock.action_date %></td>
          <td class="black-text"><%= link_to stock.name, stock_path(stock) %> (<%= stock.ticker %>)</td>
          <td><%= number_to_currency(stock.price) %></td>
          <td><%= number_to_currency(stock.cost) %></td>
          <td><%= stock.shares %></td>
          <td><%= number_to_currency(market_value(stock)) %></td>
          <td><%= number_to_currency(stock_return(stock))%></td>
        </tr>
      <% end %>
  </tbody>

  <tfoot>
    <tr>
    
      <th colspan="5">Total</th>
      <td class="<%= color(@stocks.map {|stock| stock_return(stock)}.sum) %>"><%= number_to_currency(@stocks.map {|stock| market_value(stock)}.sum) %></td>
      <td class="<%= color(@stocks.map {|stock| stock_return(stock)}.sum) %>"><%= number_to_currency(@stocks.map {|stock| stock_return(stock)}.sum) %></td>
    </tr>
  </tfoot>
</table><br>

<%= link_to "Add Stock", new_stock_path, class:"waves-effect waves-light btn blue darken-2 white-text hoverable" %>
