<h1>Stocks</h1>

<%= form_tag(stocks_path, method: 'get') do %>
  <%= text_field_tag :term, nil,  id: "Search", placeholder: "Search Companies" %>

  <%= submit_tag "Search"%>
<% end %>

<div>
    <% @stocks.each do |stock| %>
        <p>Added on: <%= stock.action_date %></p>
        <p>Name: <%= link_to stock.name, stock_path(stock) %> (<%= stock.ticker %>)</p>
        <p>Price: <%= number_to_currency(stock.price) %></p>
        <p>Cost: <%= number_to_currency(stock.cost) %></p>
        <p>Shares: <%= stock.shares %></p>
        <p>Market Value: <%= number_to_currency(stock.market_value) %></p>
        <p>Return: <%= number_to_currency(stock.stock_return)%></p>
        <p>Categories: <%= stock.categories.map { |category| category.name }.join(", ") %></p>
    <% end %>
</div>

<%= link_to "Add Stock", new_user_stock_path(@current_user) %>
