<h2><%= @stock.name %> (<%= @stock.ticker %>)</h2>


<div class="row">
    <p class="col s12"><strong><%= @stock.action_date %></strong></p>
    <p class="col s12"><strong>Price: <%= number_to_currency(@stock.price) %></strong></p>
    <p class="col s3"><strong>Shares: <%= @stock.shares %></strong></p>
    <p class="col s9 <%= color(stock_return(@stock))%>"><strong>Market Value: <%= number_to_currency(market_value(@stock)) %></strong></p>
    <p class="col s3"><strong>Cost: <%= number_to_currency(@stock.cost) %></strong></p>
    <p class="col s9 <%= color(stock_return(@stock))%>"><strong>Return: <%= number_to_currency(stock_return(@stock))%></strong></p>
    <p class="col s12"><strong>Categories: <%= @stock_categories %></strong></p>
</div>

<div><p><%= link_to "Edit Stock", edit_stock_path, class:"left btn blue darken-2" %></p><br></div><br>
<div><%= link_to "Delete Stock", stock_path(@stock), method: "delete", data: { confirm: "Delete?" }, class:"btn red darken-2" %></div>
