<h2><%= @stock.name %> (<%= @stock.ticker %>)</h2>


<div>
    <p><%= @stock.action_date %></p>
    <p>Price: <%= number_to_currency(@stock.price) %></p>
    <p>Cost: <%= number_to_currency(@stock.cost) %></p>
    <p>Shares: <%= @stock.shares %></p>
    <p>Market Value: <%= number_to_currency(market_value(@stock)) %></p>
    <p>Return: <%= number_to_currency(stock_return(@stock))%></p>
    <p>Categories: <%= @stock_categories %></p>
</div>

<%= link_to "Edit Stock", edit_stock_path %><br>
<%= link_to "Delete Stock", stock_path(@stock), method: "delete" %>
