<h2><%= @stock.name %> (<%= @stock.ticker %>)</h2>

<div>
    <p>Price: <%= number_to_currency(@stock.price) %></p>
    <p>Cost: <%= number_to_currency(@stock.cost) %></p>
    <p>Shares: <%= @stock.shares %></p>
    <p>Market Value: <%= number_to_currency(@stock.price * @stock.shares) %></p>
    <p>Return: <%= number_to_currency((@stock.price * @stock.shares) - (@stock.cost * @stock.shares))%></p>
</div>