<h2><%= @stock.name %> (<%= @stock.ticker %>)</h2>

<div>
    <p><%= @stock.action_date %></p>
    <p>Price: <%= number_to_currency(@stock.price) %></p>
    <p>Cost: <%= number_to_currency(@stock.cost) %></p>
    <p>Shares: <%= @stock.shares %></p>
    <p>Market Value: <%= number_to_currency(@stock.market_value) %></p>
    <p>Return: <%= number_to_currency(@stock.stock_return)%></p>
    <p>Categories: <%= @stock.categories.map { |category| category.name }.join(", ") %></p>
</div>

<%= link_to "Edit Stock", edit_stock_path %><br>
<%= link_to "Delete Stock", stock_path(@stock), method: "delete" %>
