<!DOCTYPE html>
<html>
  <head>
    <title>Boon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <ul class="nav nav-pills">
        <li class="navitem" ><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
          <li class="navitem" ><%= link_to "Stocks", user_stocks_path(current_user) %></li>
          <li class="navitem" ><%= link_to "Create Stock", new_user_stock_path(current_user) %></li>
          <li class="navitem" ><%= link_to "Categories", categories_path %></li>
          <li class="navitem" ><%= link_to "Logout", destroy_user_session_path, method: 'delete' %></li>
        <% else %>
          <li class="navitem" ><%= link_to "Login", new_user_session_path %></li>
          <li class="navitem" ><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
